# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary files
*.tmp

# Environment files
*.env.*
*.user

# Build folder
build/*

# Generated doxygen documentation
src/html/*
src/latex/*

# Generated pack
xborek12_xhrubo01_xjestr04_xkento00.zip

# VSCode folder
.vscode
